<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Album page</title>
    <style>
        body {background-color: #DECFE7}
        a { color:#000000; text-decoration:none;}
    </style>
</head>
<body>

<h2 align="center">Choose an album</h2>
<table th:if="${not #lists.isEmpty(group)}">
    <tr th:each="gr : ${group}">
        <td>
            <a th:href="@{/groups/{grId}/albums/{alId}/tracks(grId = ${gr.gr.id}, alId = ${gr.id})}"><span th:text="${gr.id + ') ' + gr.name + ' - ' + gr.years}"></span></a>
        </td>
    </tr>
</table>
<br>

<p align="center"><button type="submit" class="btn btn-light"><a th:href="@{/groups/{alId}/albums/add(alId = ${id0})}">Add a new album</a></button></p>

</body>
</html>