<!DOCTYPE html>
<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Group page</title>
    <style>
        body {background-color: #E1D6E7}
    </style>
</head>
<body>
<h2 align="center">Choose a group</h2>
<table th:if="${not #lists.isEmpty(groups)}">
    <tr th:each="gr : ${groups}">
        <td>
            <a th:href="@{/groups/{grId}/albums(grId = ${gr.id})}"><span th:text="${gr.id + ') ' + gr.name}"></span></a>
        </td>
    </tr>
</table>
<table th:if="${#lists.isEmpty(groups)}">
    <p>No groups were found :(</p>
</table>

</body>
</html>
